*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}

a{ 
	text-decoration: none; 
}

body, html {
	background-color:#333;
	height: 100%;
	overflow: hidden;
}



#mvp-wrapper{
	position: relative;
	left:0;
	background: #111;
	font-family: Arial, Helvetica, sans-serif;
	top:0;
 	width:100%;
    height:100%;
}
.mvp-wrapper-bottom{
	max-height: none!important;
}/*
#mvp-wrapper:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}*/


.mvp-fs{
	position:fixed!important;
	top:0!important;
	left:0!important;
	width:100% !important;
	height:100% !important;
	-webkit-transform: translate(0, 0)!important;
  	-ms-transform: translate(0, 0)!important;
  	transform: translate(0, 0)!important;
	max-width:none!important;
	max-height:none!important;
	margin:0 !important;
	padding:0 !important;
	background:#000 !important;
	z-index:999999 !important;
	overflow:hidden!important;
} 
.mvp-fs-overflow{
	overflow:hidden !important;
}

.mvp-player-holder,
.mvp-media-holder,
.mvp-audio-holder,
.mvp-video-holder,
.mvp-canvas-video,
.mvp-canvas-image,
.mvp-youtube-holder,
.mvp-vimeo-holder,
.mvp-iframe-holder,
.mvp-image-holder{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	display: none;
}
.mvp-player-holder,
.mvp-holder-visible{
	overflow: visible!important;
}
.mvp-player-holder-bottom{
    width: 100%!important;
}



.mvp-media{
	max-width:none!important;
	position: absolute;
	opacity: 0; 
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.mvp-logo{
	position: absolute;
	top: 15px;
	left: 15px;
	opacity: 0.7;
}

.mvp-vr-info{
	position: absolute;
	width:150px;
	height: auto;
	display: block;
	top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: rgba(0,0,0,0.5);
    padding: 10px;
    pointer-events:none;
    display: none;
}


.mvp-player-loader {
	position:absolute;
	top:50%;
	left:50%;
    width: 40px;
    height: 40px;
    margin-left:-20px;
	margin-top:-20px;
    background-color: #eee;
    -webkit-animation: mvp_preloader 1.2s infinite ease-in-out;
    animation: mvp_preloader 1.2s infinite ease-in-out;
}
@-webkit-keyframes mvp_preloader {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes mvp_preloader {
    0% { 
	    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
	    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
	    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}




/* icons */
.mvp-btn{
	display: none;
}
.mvp-contr-btn{
	width:35px;
	height:35px;
	position: relative;
	float: left;
}
.mvp-contr-btn i{
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height:100%;
	color:#ccc;
	text-align: center;
	display: inline-block;
	font-size: 15px!important;
	line-height: 35px!important;
}
.mvp-contr-btn i:hover{
	color:#fff !important;
}
.mvp-contr-btn-hover{
	color:#fff !important;
}





.mvp-player-interface{
	transition: opacity 300ms;
	opacity: 0;
	display: none;
}
.mvp-interface-visible{
	opacity: 1;
}
.mvp-player-controls1{
	position:absolute;
	width: 100%;
	height:35px;
	bottom:0;
	left:0;
	background: rgba(17,17,17,1);
}
.mvp-player-controls1-left{
	position: absolute;
	left:0;
}
.mvp-player-controls1-right{
 	position: absolute;
	right:0;
}

.mvp-media-time-current,
.mvp-media-time-separator,
.mvp-media-time-total{
	position:relative;
	top:0px;
	left:0px;
	height:100%;
	line-height:35px !important;
	text-align: center;
	float:left;
	margin:0!important;
	padding: 0!important;
	color:#999 !important;
	font-size:13px!important;
}
.mvp-media-time-current{
	padding-left: 15px!important;
}

.mvp-seekbar{
	position: absolute;
	height:15px;
	cursor: pointer;
	touch-action: none;
	left: 0;
	top:-15px;
	width:100%;
	display: none;
}
.mvp-progress-bg{
	position:absolute;
	background:#222222;
	width:100%;
	bottom:0;
	height:7px;
	overflow: hidden;
}
.mvp-load-level{
	position:absolute;
	background:#222;
	left:0;
	top:0;
	height:100%;
}
.mvp-progress-level{
	position:absolute;
	background:#fff;
	left:0;
	top:0;
	height:100%;
	width: 0;
}










.mvp-volume-wrapper{
	display:none;
}
.mvp-volume-seekbar{
	position:absolute;
	top:-80px;
	left:0;
	width:100%;
	height:80px;
	display:none;
	cursor: pointer;
	touch-action: none;
	background:rgba(0, 0, 0, 0.8);
}
.mvp-volume-bg{
	position:absolute;
	width:7px;
	height:60px;
	background:#333;
	left:14px;
	bottom:10px;
}
.mvp-volume-level{
	position:absolute;
	width:7px;
	height:60px;
	background:#fff;
	left:14px;
	bottom:10px;
}

.mvp-playback-toggle,
.mvp-playback-rate-toggle{
	display: none;
}

.mvp-playback-rate-holder,
.mvp-quality-holder,
.mvp-subtitle-holder{
	position:absolute;
	display:none;
	bottom:100%;
	left:0;
	z-index: 50;
}
.mvp-playback-rate-menu,
.mvp-quality-menu,
.mvp-subtitle-menu {
	padding:0!important;
	margin:0!important;
}







.mvp-menu-item{
	display:block;
    width:100%;
	list-style:none;
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	text-align:left;
	line-height:20px;
	font-size:13px;
	padding:5px 10px!important;
	margin:0!important;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	border-bottom:1px solid #222!important;
	cursor:pointer;
	background:rgba(0, 0, 0, 0.8);
	color:#ccc; 
}
.mvp-menu-item:last-child {
	border-bottom:1px solid rgba(0,0,0,0)!important;
}
.mvp-menu-item a{
	color:inherit;
    text-decoration:none!important;
	white-space:nowrap;
	pointer-events:none;
	border:0!important;
	box-shadow: none!important;
}
.mvp-menu-item:hover {
	background:#da4040!important;
    color:#fff!important;
}
.mvp-menu-active{
    cursor: default!important;
    
}


.mvp-menu-bottom{
	bottom:auto;
	top:100%;
}








.mvp-info-holder{
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	bottom: 0;
	background: #111111;
	z-index:50;
	padding:20px;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}
.mvp-info-close{
	position: absolute;
	right:5px;
	top:5px;
	cursor: pointer;
	width: 35px;
	height: 35px;
	z-index: 10;
	background: rgba(0,0,0,0.01);
}
.mvp-info-data{
	padding: 20px;
    position: absolute;
    margin: 0;
    width: 100%;
    max-width: 600px;
    max-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing:border-box;
    color:#bbb;
	font-size:13px;
	display: inline-block;
	line-height: normal;
}






.mvp-share-holder{
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	bottom: 0;
	z-index:50;
	display: none;
	background: #111111;
	padding:30px;
	overflow-y: auto;
	overflow-x: hidden;
}
.mvp-share-close{
	position: absolute;
	right:5px;
	top:5px;
	width: 35px;
	height: 35px;
	z-index: 10;
	cursor: pointer;
	background: rgba(0,0,0,0.01);
}
.mvp-share-holder-inner{
	padding: 10px;
	position: absolute;
	margin: 0;
	width: 100%;
	max-width: 600px;
	max-height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-sizing:border-box;
	line-height: normal;
}
.mvp-share-title{
	color: #ccc;
    font-size: 13px;
    padding: 5px;
    display: block;
}
.mvp-share-title i{
	color: #ccc!important;
	padding-right: 6px;
	font-size: 13px;
	float: left;
}

.mvp-share-item{
	width:30px;
	height:30px;
	float: left;
	margin-right: 5px;
}
.mvp-share-item i{
	width:100%;
	height:100%;
	text-align: center;
	display: inline-block;
	font-size: 14px!important;
	line-height: 30px!important;
	color: #fff!important;
}
.mvp-share-item .fa-facebook-f{
	background:#3b5998!important;
}
.mvp-share-item .fa-twitter{
	background:#55acee!important;
}
.mvp-share-item .fa-tumblr{
	background:#35465c!important;
}
.mvp-share-item .fa-google-plus-g{
	background:#ee5555!important;
}


.mvp-share-data,
.mvp-link-data,
.mvp-embed-data{
	overflow: hidden;
	padding: 1px;
	margin-bottom: 5px;
}
.mvp-link-data,
.mvp-embed-data{
	display: flex; 
    align-items: flex-start; 
}
.mvp-embed-data{
	margin-bottom: 20px;
}
.mvp-link-code,
.mvp-embed-code{
	color:#fff;
	margin:0;
	flex:1;
	padding: 8px!important;
	line-height: 1.2;
    font-size: 11px;
    background: #111;
    border: 1px solid #333;
    word-wrap: break-word;
}
.mvp-link-copy,
.mvp-embed-copy{
	color: #ccc;
    padding: 3px!important;
    font-size: 12px;
    cursor: pointer;
    border:1px solid #999;
    margin-top: 1px;
    margin-left: 5px;
}
[dir=rtl] .mvp-link-copy {
    order: -1; 
}
[dir=rtl] .mvp-embed-copy {
    order: -1; 
}

















.mvp-big-play{
	position:absolute;
	width:76px;
	height:76px; 
	top:50%;
	left:50%;
	margin-left:-37px;
	margin-top:-37px;
	background: rgba(0,0,0,0.5);
	border-radius: 50%!important;
	display:none;
	text-align:center;
	line-height: 76px;
}
.mvp-big-play i{
	font-size: 30px!important;
	margin-left: 5px;
    line-height: 76px!important;
    color:#ccc !important;
}




#mvp-playlist-list{
	display:none;
}



.mvp-playlist-holder{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:97px;
	background:#111;
	overflow: hidden;
	display: none;
}
.mvp-playlist-inner{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
.mvp-playlist-item{
	position:relative;
	top:0;
	left:0;
	width:290px;
	height:80px;
	float:left;
	background:#181818;
	margin-right:1px;
	overflow:hidden;
	cursor: pointer;
}
.mvp-playlist-item-selected{
	background:#222;
}
.mvp-playlist-thumb {
	position:relative;
	margin:5px;
	width:70px;
	height:70px;
	float:left;
	overflow:hidden;
}
.mvp-thumbimg{
	position:absolute;
	top:0;
	left:0;
	display:block;
	opacity: 0;
	height:100%;
	width:auto;
	min-width: 100%;
	max-width: none;
	-webkit-backface-visibility: hidden;
}
.mvp-playlist-info {
	position:relative;
	top:10px;
	height:60px;
	margin-right:10px;
	overflow:hidden;
	text-align: left;
	line-height: normal;
}
.mvp-playlist-title {
	color:#fff;
	font-size:13px;
}
.mvp-playlist-description{
	color:#777;
	font-size:11px;
	display: block;
	margin-top: 5px;
}








.mvp-subtitles{
	display: none;
}

.mvp-subtitle{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 25px !important;
    margin: 0!important;
    padding: 10px 20px !important;
    font-size: 20px!important;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff!important;
    background: rgba(0, 0, 0, 0.3)!important;
    text-align: center!important;
    -moz-transition: margin-bottom 150ms ease-out;
    -webkit-transition: margin-bottom 150ms ease-out;
    transition: margin-bottom 150ms ease-out;
}
.mvp-subtitle-bottom {
    margin-bottom: 35px!important;
}







.mvp-tooltip{
	position:absolute;
	background:#fff;
	text-align:center;
	color:#555!important;
	z-index:999999;
	pointer-events:none;
	display:none;
}
.mvp-tooltip p{
	width:inherit;
	font-size:13px!important;
	margin:2px 8px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}



.mvp-hidden {
	opacity: 0; 
	transition: opacity 300ms ease-out;
}
.mvp-visible {
	opacity: 1;
	transition: opacity 500ms ease-in;
}



#mvp-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 20px;
}
.mvp-mCSB_full{/* hide scroll area when no scroll */
	margin-right: 0!important;
}


